<template functional>
  <footer class="border-t dark:border-indigo-500 bg-white dark:bg-gray-900 p-4">
    <div class="text-gray-700 dark:text-gray-300 text-center text-xs font-semibold uppercase">
      <span>Made with 🐑 by eb3n</span>
      <span> | </span>
      <a
        ref="noreferrer noopener"
        class="hover:underline"
        href="https://gitlab.com/eb3n/sheep-shearer"
        target="_blank"
      >View source on gitlab</a>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'AppFooter'
}
</script>
